version: "3.0"
services:
  container-bot:
    build:
      context: .
      dockerfile: bot.dockerfile
    ports:
      - 5005:5005
    depends_on:
      - container-server-bot
    volumes:
      - ./:/app
    command:
      - run
      - --enable-api
      - --cors
      - "*"
      - --credentials
      - credentials.yml
      - --debug
  container-server-bot:
    build:
      context: .
      dockerfile: server.dockerfile
    image: rasa-actions:latest
    ports:
      - 5055:5055
    volumes:
      - ./actions:/app/actions

  mongodb:
    image: mongo
    container_name: db
    networks: 
      - rasa-network
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: sprint4